* {
    margin: 10;
    padding: 10;
    font-family: sans-serif;
}

body {
    background: #d6d4d4;

}


.shadow {
    box-shadow: 0px 2px 5px 2px darkgrey;
    width: 600px;
    background: rgba(255, 255, 255, 0.822);
    height: 50%;
    margin: 30px;
    margin-left: 60px;
    padding-left: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
}
